@import url("https://p.typekit.net/p.css?s=1&k=igg4ipr&ht=tk&f=27823.28747.28752.28755.28762&a=5318639&app=typekit&e=css");
*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
	text-decoration: none;
	font-family:"balboa-plus-fill";
}
header, .headerMenu{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 5px;
}
.headerMenu{
	width: 40vw;
}
.headerMenu__link{
	font-size: 18px;
	margin:5px;
	color: #69B284;
	text-transform: uppercase;
}
.headerMenu__logo{
	width: 80px;
}
@media (max-width: 475px){
	.headerMenu__link{
		font-size: 12px;
		margin: 2px;
	}
	.headerMenu{
		width: 100%;
	}
	.headerMenu__logo{
		width: 45px;
	}
}
/*section depois da header*/
.boxlandscape{
	height: 100vh;
	display:flex;
	justify-content: center;
	align-items: center;
	background-image: url(assets/home.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}
.boxlandscapeParagraph{
	width: 60vw;
	text-align: center;
	font-size: 50px;
	color: white;
	
}
@media(max-width: 475px){
	.boxlandscapeParagraph{
		width: 100%;
		font-size: 35px;
	}
}

/*pimeira section da main*/

.about{
	display: flex;
}
.aboutBlocktext{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
}
.aboutBlocktext__img{
	width: 250px;
	height: 210px;
}
.aboutBlocktext__paragraph, .iconsActivities__paragraph{
	width: 400px;
	font-size: 1.1em;
	padding: 10px;
}
.aboutBlockimage{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1px 0px;
}
.aboutBlockimage__img{
	width: 290px;
	height: 185px;
}
@media (max-width: 950px) {
	.about{
		flex-flow: wrap;
	}
	.aboutBlockimage{
		width: 100%;
		height: auto;
		justify-content: space-around;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.aboutBlockimage__img{
		margin:10px;
	}
}
@media (max-width: 680px) {
	.aboutBlocktext{
		flex-flow: wrap;
	}
	.aboutBlocktext__img{
		margin-bottom: 30px;
	}
}
/*segunda section da main*/

.icons{
	/*height: 100vh;*/
	display: flex;
	flex-direction: column;
	background-color: #FFF9BF;
}
.iconsBlock{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
	padding: 10px;
	background-color: #64B486;
}
.iconsBlock__links{
	width: 95px;
	height: 95px;
	font-size: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 4px;	
	border-radius: 50%;
	box-shadow: 0px 1px 1px 1px gray;  
	color: #FFF;
	background-color: #FD837E;
}
.iconsActivities{
	height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.iconsActivities__title{
	width: 25vw;
	font-size: 45px;
}
.iconsActivities__paragraph{
	width: 35vw;
}
.iconsActivities__image{
	height:200px;
}
@media(max-width: 950px){
	.icons{
		height: auto;
	}
	.iconsActivities{
		flex-direction: column;
	}
}
@media(max-width: 768px){
	.iconsActivities__title{
		width: 60vw;
	}
	.iconsActivities__paragraph{
		width: 70vw;
	}
	.iconsActivities__image{
		height:170px;
	}
}
@media(max-width: 475px){
	.iconsActivities{
		height: auto;
	}
	.iconsActivities__title{
		font-size: 35px;
	}
}

/*terceira section da main*/

.mediaTitle{
	height: 15vh;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
}
.media{
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	/*background-color: yellow;*/
}
.mediaBlock{
	width: 100%;
	display: flex;
	justify-content: space-around;
/*	background-color: pink;*/
}
.mediaBlock__video{
	width: 50vw;
	height: auto;
/*	background-color: blue;*/
}
.mediaVideo__video{
	min-width: 100%;
    min-height: 100%;
}
.mediaBlock__news{
	width: 45vw;
	display: flex;
	justify-content: space-around;
/*	background-color: red;*/
}
.mediaBlock__newsBox{
	width: 50vw;
    margin-right: 5px;
    /*background-color: green;*/
}
.mediaBlock__newsBox__img{
	width: 100%;
	height: auto;
}
.mediaBlock__newsBox__p, .mediaBlock__newsBox__p2{
	width: 85%;
	/*height: 10vh;*/
	font-size: 15px;
	background-color: white;
}
.mediaBlock__newsBox__p2{
	width: 100%;
}
.mediaParagraph{
	align-self: flex-start;
	margin: 20px 25px;
}
@media(max-width: 950px){
	.media{
		height: auto;
	}
	.mediaBlock{
		width: 95vw;
		flex-direction: column;
	}
	.mediaBlock__video {
    	width: 100%;
    	height: 60vh;
	}
    .mediaBlock__news{
    	width: 100%;
    	margin-top: 20px;
    }
    .mediaParagraph{
    	display: none;
    }
}
@media (max-width: 425px){
	.mediaBlock__video{
		height: 40vh;
	}
}
footer{
	height: 80vh;
	display: flex;
	padding: 10px 0px 0px 10px;
	background-image: url(assets/footer.jpg);
	background-size: cover;
}
footer:after{
	content: "";
	background-color: #69B284;
	position: absolute;
}
.contactfooter{
	width: 75vw;
	background-color: red;
}
.contactfooterTitle{
	font-size: 45px;
}
.contactfooterParagraph2, .infofooterParagraph{
	font-size: 30px;
}
.contactfooterBlock{
	width: 100%;
	background-color: yellow;
}
.imagefooter{
	width: 270px;
}
.infofooter{
	height: 20vh;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-self: flex-end;
	margin-left: 20px;
}

