*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
	text-decoration: none;
}
@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}
header, .headerMenu{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 5px;
}
.headerMenu{
	width: 50vw;
}
.headerMenu__link{
	font-size: 20px;
	margin:5px;
	color: #69B284;
	text-transform: uppercase;
}
.headerMenu__logo{
	width: 80px;
}
/*section depois da header*/
.boxlandscape{
	height: 100vh;
	display:flex;
	justify-content: center;
	align-items: center;
	background-image: url(assets/home.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}
.boxlandscapeParagraph{
	width: 50vw;
	text-align: center;
	font-size: 50px;
	color: white;
}

/*pimeira section da main*/

.about{
	display: flex;
}
.aboutBlocktext{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
}
.aboutBlocktext__img{
	width: 200px;
	height: 190px;
}
.aboutBlocktext__paragraph{
	width: 400px;
	padding: 10px;
}
.aboutBlockimage{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1px 0px;
}
.aboutBlockimage__img{
	width: 290px;
	height: 185px;
}
@media (max-width: 930px) {
	.about{
		flex-flow: wrap;
	}
	.aboutBlockimage{
		width: 100%;
		height: auto;
		justify-content: space-around;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.aboutBlockimage__img{
		margin:10px;
	}
}
@media (max-width: 680px) {
	.aboutBlocktext{
		flex-flow: wrap;
	}
	.aboutBlocktext__img{
		margin-bottom: 30px;
	}
}
/*segunda section da main*/

.icons{
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: #FFF9BF;
}
.iconsBlock{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
	padding: 15px;
	background-color: #64B486;
}
.iconsBlock__links{
	width: 100px;
	height: 100px;
	font-size: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;	
	border-radius: 50%;
	color: #FFF;
	background-color: #FD837E;
}
.iconsActivities{
	height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.iconsActivities__title{
	width: 20vw;
	background-color: yellow;
}
.iconsActivities__paragraph{
	width: 35vw;
}
.iconsActivities__image{
	height:250px;
}
@media(max-width: 930px){
	.icons{
		height: auto;
	}
	.iconsActivities{
		flex-direction: column;
	}
}

/*terceira section da main*/

.titlemedia{
	height: 15vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.media{
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
/*	background-color: yellow;*/
}
.mediaBlock{
	width: 100%;
	display: flex;
	justify-content: space-around;
	background-color: pink;
}
.mediaBlock__video{
	width: 45vw;
	background-color: blue;
}
.mediaVideo__video{
	min-width: 100%;
    min-height: 100%;
}
.mediaBlock__news{
	width: 45vw;
	display: flex;
	justify-content: space-around;
	background-color: red;
}
.mediaBlock__newsBox{
	width: 22vw;
	background-color: green;
}
.mediaBlock__newsBox__img{
	width: 100%;
	height: 40vh;
}
.mediaBlock__newsBox__p, .mediaBlock__newsBox__p2{
	width: 70%;
	height: 10vh;
	font-size: 15px;
	background-color: white;
}
.mediaBlock__newsBox__p2{
	width: 95%;
}
@media(max-width: 930px){
	.media{
		height: auto;
	}
	.mediaBlock{
		width: 95vw;
		flex-direction: column;
	}
	.mediaBlock__video {
    width: 100%;
    height: 70vh;
	}
    .mediaBlock__news{
    	width: 100%;
    }
}

footer{
	height: 80vh;
	display: flex;
	padding: 10px 0px 0px 10px;
	background-image: url(assets/footer.jpg);
	background-size: cover;
}
.contactfooter{
	width: 75vw;
	background-color: red;
}
.contactfooterTitle{
	font-size: 45px;
}
.contactfooterParagraph2, .infofooterParagraph{
	font-size: 30px;
}
.contactfooterBlock{
	width: 100%;
	background-color: yellow;
}
.imagefooter{
	width: 270px;
}
.infofooter{
	height: 20vh;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-self: flex-end;
	margin-left: 20px;
}

